<app-navbar></app-navbar>
<div class="row">
    <div class="col-4">
        <div class="card" *ngFor="let item of list">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{item.title.toUpperCase()}}</h5>
                <hr>
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Owner Employee ID</td>
                            <td>:</td>
                            <td>{{item.ownerEmployeeId}}</td>
                        </tr>
                        <tr>
                            <td>Owner Employee Name</td>
                            <td>:</td>
                            <td>{{item.ownerFirstname}} {{item.ownerLastname}}</td>
                        </tr>
                        <tr>
                            <td>Owner Supervisor ID</td>
                            <td>:</td>
                            <td>{{item.ownerSupervisorId}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div style="text-align: center;">
                    <button [disabled]="show" class="btn btn-primary" (click)="showDetails(item)">Show Details</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card" *ngIf="show">
            <div class="card-body" *ngFor="let item of elem">
                <h3 style="text-align: center;">{{item.title.toUpperCase()}}</h3>

                <hr>
                <div style="text-align: center;">
                    <button class="btn btn-primary" (click)="show = false">Hide Details</button>
                </div>
            </div>
        </div>
    </div>
</div>