<div class="card" style="margin-top: 10px;" *ngIf="show">
    <div class="card-body" *ngFor="let item of elementArray">
        <h3 style="text-align: center;">{{item.title.toUpperCase()}}</h3>
        <hr>
        <table class="center">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="td1">KPI ID</td>
                    <td class="td1">:</td>
                    <td class="td1">{{item._id}}</td>
                </tr>
                <tr>
                    <td>KPI Title</td>
                    <td>:</td>
                    <td>{{item.title}}</td>
                </tr>
                <!-- <tr>
                    <td>Owner Employee ID</td>
                    <td>:</td>
                    <td>{{item.ownerEmployeeId}}</td>
                </tr>
                <tr>
                    <td>Owner Employee Name</td>
                    <td>:</td>
                    <td>{{item.ownerFirstname}} {{item.ownerLastname}}</td>
                </tr>
                <tr>
                    <td>Owner Supervisor ID</td>
                    <td>:</td>
                    <td>{{item.ownerSupervisorId}}</td>
                </tr> -->
                <tr>
                    <td class="td1">Goal Description</td>
                    <td class="td1">:</td>
                    <td class="td1">{{item.goalDescription}}</td>
                </tr>
                <tr>
                    <td class="td1">Remark</td>
                    <td class="td1">:</td>
                    <td class="td1">{{item.remark}}</td>
                </tr>
                <!-- <tr>
                    <td>Financial Year</td>
                    <td>:</td>
                    <td>{{item.financialYearStart | date: 'y'}} - {{item.financialYearEnd | date: 'y'}}</td>
                </tr> -->
                <tr>
                    <td>Department ID</td>
                    <td>:</td>
                    <td>{{item.departmentId}}</td>
                </tr>
                <tr>
                    <td>Data Aggregation Method</td>
                    <td>:</td>
                    <td>{{item.dataAggregationMethod}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div style="text-align: center;">
            <button class="btn btn-primary" (click)="show = false">Hide Details</button>
        </div>
    </div>
</div>