<div class="row" style="margin-top: 75px;">
    <div class="col"></div>
    <div class="col">
        <div class="text-center">
            <h2>4E Org Adoption Tree</h2>
        </div>
        <hr>
        rusheekesh.jadhav@dev-ad.tqmimpcp.com <br>
        zaq1ZAQ!
        <hr>
        <div class="text-center">
            <h4>Signin</h4>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label> :
                <span class="text-danger"
                    *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">Email Required
                    !!!</span>
                <input type="email" formControlName="email" placeholder="Enter your email here" class="form-control"
                    id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label> :
                <span class="text-danger"
                    *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">Password Required
                    !!!</span>
                <input type="password" formControlName="password" placeholder="Enter your password here"
                    class="form-control" id="password">
            </div>
            <div class="mb-3">
                <input style="margin-right: 10px;" [checked]="false" (change)="toggleCheck()" type="checkbox"
                    class="form-check-input" id="remember">
                <label for="exampleInputPassword1" class="form-label">Remember Me</label>
            </div>
            <div class="text-center">
                <button [disabled]="!checkValid()" type="submit" class="btn btn-primary">Signin</button>
            </div>
        </form>
        <hr>
        <div class="text-center">
            Don't have an account ? <br>
            <a routerLink="/signup">Signup Here</a>
        </div>
    </div>
    <div class="col"></div>
</div>