<app-navbar></app-navbar>

<div class="row">
    <div class="col-4">4E Org</div>
    <div class="col-8">
        <form [formGroup]="kpiForm" (ngSubmit)="submit()" style="outline: auto; margin: 20px; padding: 20px;">
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Financial Year</td>
                        <td>:</td>
                        <td>
                            <select formControlName="financialYearStart" (change)="selectedYear()">
                                <option *ngFor="let item of filterYear()" [value]="item.startUnix">FY {{item.start | date: 'y'}} - {{item.end | date: 'y'}}</option>
                            </select><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['financialYearStart'].invalid && kpiForm.controls['financialYearStart'].touched">Please
                                select Financial Year !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>KPI Title</td>
                        <td>:</td>
                        <td>
                            <input type="text" formControlName="title"><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['title'].invalid && kpiForm.controls['title'].touched">Please
                                add KPI Title !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>KPI Type</td>
                        <td>:</td>
                        <td>
                            <select formControlName="type">
                                <option *ngFor="let item of kpiType" [value]="item._id">{{item.type}}</option>
                            </select><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['type'].invalid && kpiForm.controls['type'].touched">Please
                                select KPI Type !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>KPI Category</td>
                        <td>:</td>
                        <td>
                            <select formControlName="category">
                                <option *ngFor="let item of kpiCategory" [value]="item._id">{{item.category}}</option>
                            </select><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['category'].invalid && kpiForm.controls['category'].touched">Please
                                select KPI Category !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Department ID</td>
                        <td>:</td>
                        <td>
                            <select formControlName="departmentId">
                                <option *ngFor="let item of dept" [value]="item.id">{{item.name}}</option>
                            </select><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['departmentId'].invalid && kpiForm.controls['departmentId'].touched">Please
                                select Department Id !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Perspective</td>
                        <td>:</td>
                        <td>
                            <select formControlName="perspective" (change)="setPerspectivePrefix()">
                                <option *ngFor="let item of pers" [value]="item._id">{{item.perspective}}</option>
                            </select><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['perspective'].invalid && kpiForm.controls['perspective'].touched">Please
                                select Perspective !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Perspective Prefix</td>
                        <td>:</td>
                        <td>
                            <!-- <div formControlName="perspectivePrefix">" {{perspectivePrefix}} "</div> -->
                            <input readonly=true type="text" value="{{perspectivePrefix}}" formControlName="perspectivePrefix"><br>
                        </td>
                    </tr>

                    <tr>
                        <td>Goal Description</td>
                        <td>:</td>
                        <td>
                            <textarea name="" id="" cols="30" rows="10"
                                formControlName="goalDescription"></textarea><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['goalDescription'].invalid && kpiForm.controls['goalDescription'].touched">Please
                                add Goal Description !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Remark</td>
                        <td>:</td>
                        <td>
                            <input type="text" formControlName="remark"><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['remark'].invalid && kpiForm.controls['remark'].touched">Please
                                add Remark !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Data Capture Frequency</td>
                        <td>:</td>
                        <td>
                            <select formControlName="dataCaptureFrequency">
                                <option *ngFor="let item of dataCap" [value]="item._id">{{item.value}}</option>
                            </select><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['dataCaptureFrequency'].invalid && kpiForm.controls['dataCaptureFrequency'].touched">Please
                                select Data Capture Frequency !!!</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Review Frequency</td>
                        <td>:</td>
                        <td>
                            <select formControlName="reviewFrequency">
                                <option *ngFor="let item of filterOrder()" [value]="item._id">
                                    {{item.value}}
                                </option>
                            </select><br>
                            <span class="text-danger"
                                *ngIf="kpiForm.controls['reviewFrequency'].invalid && kpiForm.controls['reviewFrequency'].touched">Please
                                select Review Frequency !!!</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="text-center" style="margin-bottom: 20px;">
                <button [disabled]="!kpiForm.valid" type="submit" class="btn btn-primary">Save KPI</button>
            </div>
        </form>
    </div>

</div>